#our-team .row div{
    margin-bottom: 10px;
}
#navBar {
    background: rgba(241, 248, 233, .9);
}
#navBar-back {
    height:75px;
}
#guestbook, #courtPractices{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
#navBar .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}
@media (max-width: 886px) {
    .works .col-sm{
        margin-top:10px;
    }
    #navBar-back {
        height:92px;
    }
    #guestbook, #courtPractices {
        box-shadow:unset;
    }
}
.my-container {
    padding-top:3vh;
}
.navbar-toggler{
    color:#000;
}
#homeLogo{
    font-size:4em; font-weight: bold
}
#homeDesc{
    font-weight: bold; font-size: 1.85em
}
@media (max-width: 768px) {
    #navBar-back {
        height:56px;
    }
    #homeLogo{
        font-size:1.4em; font-weight: bold
    }
    #homeDesc{
        font-weight: bold; font-size: 1.4em
    }
}

.icon-alt {
    border-radius:5px;
    border:5px;
    background: #eee;
    padding:5px;
}

.card-wrapper .card-back{height:200px;overflow:hidden}
.card-wrapper .card-back img{vertical-align:middle}
.card-wrapper .avatar{display:block;margin-top:-60px;overflow:hidden;width:120px}
.card-wrapper .avatar img{border:5px solid #fff;background:none repeat scroll 0 0 #fff;width:100%}
.card-wrapper .card-rotating{height:100%;transform-style:preserve-3d;transition:.5s}
.card-wrapper .card-rotating .face{width:100%;position:absolute;background:#fff;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:2}.card-wrapper .card-rotating.flipped{transform:rotateY(180deg)}.card-wrapper .card-rotating .front{z-index:1}.card-wrapper .card-rotating .back{transform:rotateY(-180deg)}.card-wrapper .card-rotating .back,.card-wrapper .card-rotating .front{transition:1s}
.testimonial-card .card-back{overflow:hidden;height:120px;border-top-left-radius:.25rem;border-top-right-radius:.25rem}.testimonial-card .avatar{border-radius:50%;width:120px;margin-top:-60px;overflow:hidden;border:5px solid #fff}.testimonial-card .avatar img{width:100%}.testimonial-card .card-body{text-align:center}
.dropdown .dropdown-menu,.dropleft .dropdown-menu,.dropright .dropdown-menu,.dropup .dropdown-menu{padding:.5rem}.dropdown .dropdown-menu.dropdown-primary .dropdown-item.active,.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover,.dropleft .dropdown-menu.dropdown-primary .dropdown-item.active,.dropleft .dropdown-menu.dropdown-primary .dropdown-item:active,.dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover,.dropright .dropdown-menu.dropdown-primary .dropdown-item.active,.dropright .dropdown-menu.dropdown-primary .dropdown-item:active,.dropright .dropdown-menu.dropdown-primary .dropdown-item:hover,.dropup .dropdown-menu.dropdown-primary .dropdown-item.active,.dropup .dropdown-menu.dropdown-primary .dropdown-item:active,.dropup .dropdown-menu.dropdown-primary .dropdown-item:hover{background-color:#4285f4!important;box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);border-radius:.125rem}