{% extends 'base.html.twig' %}

{% block title %}Изготовление документов{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container-fluid my-container">

            <h2 class="secondary-heading mb-3">
                Изготовление документов онлайн
            </h2>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Название документа</th>
                    <th scope="col">Стоимость</th>
                </tr>
                </thead>
                <tbody>
                {% for item in docs %}
                    <tr>
                        <td><a href="{{ path('page_services_document', {'id': item.id}) }}">{{ item.name }}</td>
                        <td>{{ item.price }} руб.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    jQuery('table tr').click(function () {
        let link = $(this + ' td a').attr('href');
        if (link !== undefined) {
            window.location = link;
        }
    })
</script>
{% endblock %}