<div class="jumbotron">
    <h2 class="h1-responsive">О компании</h2>
    <p class="lead">Юридический кабинет «Территория права» создан для решения юридических задач различного направления и предлагает юридические услуги высокого качества гражданам и организациям Российской Федерации. Мы помогаем возвращать долги, защищать права, отстаивать интересы, открывать новые производства, восстанавливать нарушенные права, подбираем оптимальную стратегию ведения дела для достижений положительного результата, исходя из целей, поставленных перед нами, идем на диалог с обратившимися к нам гражданами для дальнейшего взаимодействия на выгодных для обеих сторон условиях.</p>
    <hr class="my-2">
    <p>После длительной частной практики, полученного опыта в различных организациях, мы решили объединить свои знания, опыт и профессиональные навыки на одной ТЕРРИТОРИИ для достижения поставленной цели - помочь гражданам в восстановлении, защите и реализации прав, которыми они наделены Конституцией Российской Федерации.
    </p>
    <a class="btn btn-primary btn-lg" href="{{ path('page_court_practices') }}" role="button">Посмотреть нашу судебную практику</a>
</div>