<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100 h-25" src="{{ asset('/assets/images/cp/back1.jpeg') }}"
                     style="max-height:85vh" alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption" style="top:40%">
                <h1 class="h1-responsive" id="homeLogo">Территория права</h1>
                <p id="homeDesc">Юридическая помощь</p>
            </div>
        </div>
    </div>
</div>
