{% extends 'base.html.twig' %}

{% block title %}Обратная связь{% endblock %}

{% form_theme addApplicForm with ['bootstrap/bootstrap_3_layout.html.twig'] only %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container my-container">

                <h2>Форма обратной связи</h2>
                <p>
                    {{ form_start(addApplicForm) }}
                    {{ form_widget(addApplicForm) }}
                    {{ form_end(addApplicForm) }}
                </p>

        </div>
    </div>
{% endblock %}
