{% extends 'admin/main.html.twig' %}

{% form_theme form with ['bootstrap/bootstrap_3_layout.html.twig'] only %}

{% block content %}
<div class="page-container">
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Судебные практики: {% if edit %}добавить{% else %}"{{ practice.theme }}"{% endif %}</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
