{% extends 'base.html.twig' %}

{% block title %}Отзывы о нас{% endblock %}

{% block body %}
    <div class="container my-5 py-5">
        <section class="px-md-4 mx-md-5 dark-grey-text">
            <h2 class="text-center font-weight-bold mb-4 pb-2">Отзывы о нас</h2>

            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Спасибо!</h4>
                <p>Нам очень важно Ваше мнение.</p>
                <hr>
                <p class="mb-0">После проверки модераторами, Ваш отзыв будет опубликован.</p>
            </div>
        </section>
    </div>
{% endblock %}
